<div class="container">
    <div  
         class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">
                Welcome To Our Hospital
            </h1>
            <p class="text-center">Thank you for choosing our hospital for your healthcare needs.</p>
            <p class="text-center">Here, we strive to provide the highest quality medical care to our patients.</p>
            <p class="text-center"><a href="#">Learn more about our services and specialities :</a></p>

            <div class="list-group text-center">
                <a href="#" class="list-group-item list-group-item-action">Internal Medicine</a>
                <a href="#" class="list-group-item list-group-item-action">Pediatrics</a>
                <a href="#" class="list-group-item list-group-item-action">Surgery</a>
            </div>

            <p class="text-center">If you have any questions or need assistance, please don't hesitate to contact us.</p>
        </div>
    </div>
</div>
